/* .config {
  display: flex;
  justify-content: flex-end;
  flex: 1;
} */

.config {
  margin: 3em 0 0 0;
}

.config span {
  color: var(--fgcolor);
}

.config a {
  color: red;
  font-size: 0.75em;
  text-decoration: none;
}

.config a:hover {
  text-decoration: underline;
}

.config input[type="text"] {
  background: var(--bgcolor);
  color: var(--fgcolor);
  font-size: 16px;
  font-size: max(16px, 1em);
  padding: 0.25em 0.5em;
  background-color: var(--bgcolor);
  border: 2px solid var(--fgcolor);
  border-radius: 4px;
  flex: 1;
}

.config input[type="text"]:focus {
  border: 2px solid white;
}

.config intput[readonly] {
  border-style: dotted;
  cursor: not-allowed;
  color: #777;
}

label,
input {
  display: flex;
  flex-direction: column;
}

#playaContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#videoContainer {
  z-index: -1;
}

.overlay {
  z-index: 99;
  position: absolute;
  bottom: 5%;
  margin: 0 auto;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 8vmin;
  color: white;
  background: rgba(0, 0, 0, 0.8);
  padding: 4vmin;
  border-radius: 2vmin;
  -webkit-animation: fadeinout 6s linear forwards;
  animation: fadeinout 6s linear forwards;
}

@-webkit-keyframes fadeinout {
  0%,
  100% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
}

@keyframes fadeinout {
  0%,
  100% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
}

.btnrainbow {
  align-items: center;
  background-color: black;
  border: 2px solid white;
  border-radius: 8px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: flex;
  font-family: "Recursive", sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btnrainbow:hover{
  border: 2px solid white;
  color: black;
  background-image:     linear-gradient(
     to right, 
     #E7484F,
     #E7484F 16.65%,
     #F68B1D 16.65%,
     #F68B1D 33.3%,
     #FCED00 33.3%,
     #FCED00 49.95%,
     #009E4F 49.95%,
     #009E4F 66.6%,
     #00AAC3 66.6%,
     #00AAC3 83.25%,
     #732982 83.25%,
     #732982 100%,
     #E7484F 100%
   );
 animation:slidebg 2s linear infinite;
}

@keyframes slidebg {
  to {
    background-position:20vw;
  }
}