:root {
  --fgheader: #f0f0f0;
  --fgcolor: #909090;
  --bgcolor: #101010;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Recursive", sans-serif;
  color: whitesmoke;
  height: 100vh;
  background: var(--bgcolor);
  /*radial-gradient(var(--fgcolor), var(--bgcolor));*/
  /*background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20'><circle cx='10' cy='10' r='1' fill='grey'></circle></svg>"); */
}

#playaIntro {
  background: var(--bgcolor);
  padding: 1em 2em;
  font-size: 11pt;
  z-index: 15;
  margin: auto;
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#playaIntro em {
  border-radius: 8px;
  border: 1px solid white;
  padding: 0 8px;
}

#playa {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.bigEmoji {
  font-size: 32pt;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  margin: 1em;
  list-style-type: none;
}
